<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logoApp.png') }}">
</head>
<body class="bg-[#FFF5D2] font-[poppins]  px-6 md:py-4  lg:px-16 h-screen">
    <div data-aos="fade-down" class="flex items-center justify-between w-full">
        <a href="{{url_for('home')}}" class="w-fit text-primary flex items-center space-x-2 hover:text-[#FFF5D2] hover:bg-[#7A0A28] hover:rounded-xl p-3">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" class="h-10" />
            </svg>       -->
            <p>Back Home</p>
        </a>
        <img class="w-[80px]" src="static\images\logoApp.png" alt="applogo">
    </div>
    {% block content %}    
    
    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 700,
        });
    </script>
</body>
</html>