@import "tailwindcss";

/* npx @tailwindcss/cli -i ./static/css/input.css -o ./static/css/output.css --watch */

@theme {
    --color-primary : #7A0A28;
    --color-neutral-100: #8A8585;
}

.swal2-border-radius {
    border-radius: 0.75rem;
}

